@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(#ffdad5, #fff7f9);
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.contact-left {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;

    h2 {
        text-transform: uppercase;
        font-weight: 600;
        color: #a363aa;
        font-size: 40px;
        margin-bottom: 5px;
    }

    hr {
        border: none;
        height: 5px;
        width: 125px;
        background-color: #a363aa;
        border-radius: 10px;
        margin-bottom: 20px;
        display: inline-block;
    }

    .contact-inputs {
        width: 400px;
        height: 50px;
        border: none;
        outline: none;
        padding-left: 25px;
        font-weight: 500;
        color: #333;
        border-radius: 50px;
    }

    .contact-inputs:focus {
        border: 2px solid #ff994f;
    }

    .contact-inputs:placeholder {
        color: #a9a9a9;
    }

    textarea {
        height: 140px;
        padding-top: 15px;
        border-radius: 20px;
    }

    button {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 15px 30px;
        background: linear-gradient(270deg, #ff994f, #fa6d86);
        cursor: pointer;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 50px;
        gap: 10px;
    }

    img {
        height: 15px;
    }
}

.contact-right {
    img {
        width: 500px;
    }
}

// RESPONSIVE 

@media (max-width:800px) {

    .contact-inputs {
        width: 80vw;
    }

    .contact-container {
        padding: 10px 15px;
    }

    .contact-left {
        align-items: center;

        hr {
            width: 100%;
        }
    }

    .contact-left button {
        align-self: center;
    }

    .contact-right {
        display: none;
    }
}